/* Common*/
/* html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
} */

img{
    max-height: 100%; /* max-height vs max-width chinh hinh nam trong Study-content-demo */
    max-width: 100%;
}




/*////////////////////////// thanh tab */

.Study{ /* chinh khung Study nho lai*/
    margin: 20px auto; /* dua khung ra giua va chua top-bottom: 20px */
    max-width: 1024px;
    width: 95%;
}
.Study-tab{
    color: #666;
    /* border: 1px solid black; */
    padding: 0 15px;
}

.Study-tab-list{
    display: flex; /* chia Study-tab-list ra 5 cot va dan ngang noi dung */
}

.Study-tab-list-item{
    background: #ececec;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    width: 100%; /* chia deu noi dung ra */
    text-align: center; /* can chu ra giua */
    margin: 0 5px;
    padding: 5px 0;
}

.Study-tab-list-item:hover{
    background: #d2d2d2;
}

.Study-tab-list-item-active, .Study-tab-list-item-active:hover{
    background: #fff;
    border-bottom: none; /* khi tab dang chon, se mat canh o duoi */
}

/*/////////////////////////////// noi dung */
.Study-body{
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;/* an nhung thu muc nam ngoai khung Study-body */
    margin-top: -1px; /* dua canh tren Study-content trung vs canh duoi Study-tab */
    width: 100%;
}

.Study-list{
    display: flex; /* chia Study-content thanh 5 cot */
    position: relative;
}

.Study-content{
    display: flex; /* chia 2 cot */
    min-width: 100%; /* width, min-width noi dung nam ngoai khung Study */
    width: 100%;
}

.Study-content-truthtable{
    /* display: flex;  chia 2 cot */
    min-width: 100%; /* width, min-width noi dung nam ngoai khung Study */
    width: 100%;
}

.Study-content-detail{
    width: 100%;
}

.Study-content-demo{
    padding: 50px;
    height: 500px;
    width: 100%;
}

.Study-content-demo-img{
    border-radius: 3px;
}